.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.resize-handle {
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 0;
  right: 0;
  background-color: #4285f4;
  cursor: se-resize;
}
